/* CSS Code to be written for Home page*/
.spanStyle {
    color:red;
}
.likeText {
    font-size: 30px;
    
 
    
    align-items: center;
}

.black {
    color:none;
    cursor: pointer;
}

.red{
    color:red; 
}
   
